<form [formGroup]="reservationForm">
  <!-- Date -->
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choisir une date" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="date"></mat-datepicker>
  </mat-form-field>

  <!-- Heure -->
  <mat-form-field>
    <mat-label>Heure</mat-label>
    <mat-select formControlName="time">
      <mat-option *ngFor="let to of timeOptions" [value]="to">
        {{to}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Number of peoples -->
  <mat-form-field>
      <mat-label>Combien de personnes</mat-label>
      <mat-select formControlName="people">
        <mat-option *ngFor="let po of peopleOptions" [value]="po">
          {{po}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</form>
